body{
    background-color: blue;
}
div {
    
        background-color: rgb(136, 148, 155);
        margin: auto;
        width: 64%;
        border: 3px solid green;
        padding: 10px;
        display: inline-block;
        font-size: 20px;
        padding: 20px;
    
  }
  .img-1{
    margin: auto;
    width: 18%;
    display: inline-block;
    font-size: 20px;
    padding: 20px;
}
  